.landing-page {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: url('../../assets/landing-bg.png') no-repeat center center/cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.overlay {	
  position: absolute;
  top: 0;
  left: 0;  
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.aimit-logo {
  width: 22rem;
  height: 22rem;
  display: flex;
}

.main-layout {
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 44.25rem;
}

/* ---------------- RESPONSIVE MEDIA QUERIES ---------------- */

@media (max-width: 520px) {
  .aimit-logo {
    width: 8rem;
    height: 8rem;
    display: flex;
  }

  .main-layout{
    gap: 21.25rem;
  }
}

@media (min-width: 521px) and (max-width: 768px) {
  .aimit-logo {
    width: 9rem;
    height: 9rem;
    display: flex;
  }

  .main-layout{
    gap: 21.25rem;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .aimit-logo {
    width: 11.875rem;
    height: 11.875rem;
    display: flex;
  }

  .main-layout {
    gap: 44rem;
  }
}

@media (min-width: 1025px) and (max-width: 1260px) {
  .aimit-logo {
    width: 15rem;
    height: 15rem;
    display: flex;
  }

  .main-layout {
    gap: 35rem;
  }
}

@media (min-width: 1261px) and (max-width: 1440px) {
  .aimit-logo {
    width: 18rem;
    height: 18rem;
    display: flex;
  }

  .main-layout {
    gap: 25rem;
  }
}

/* No media query for >1440px — default design remains */
