html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background: black; /* optional to match background */
  overflow: hidden;
}

#root {
  height: 100%;
  width: 100%;
}
@import url('https://fonts.googleapis.com/css2?family=Mogra&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
}
body {
  overflow-y: scroll; /* allow scroll */
  scrollbar-width: none; /* Firefox */
  margin: 0px !important;
  height: 100% !important;
}

body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}